@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0, 0.24)
}

body {
    background-color: #373A36;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #E6E2DD;
    align-self: flex-start;
}

.days {
    padding-top: 5vh;
}

.btn-secondary {
    background-color: #E6E2DD;
    color:#373A36;
}

.btn-search-food {
    opacity: 0.75;
    border: none;
    font-size: 20px;
    background-color: inherit;
}

.btn-search-food:hover {
    opacity: 0,6;
}

.btn-search-food:active {
    opacity: 1;
    transition-duration: 0.01s;
    transition: all .01s ease-in-out;
    transform: translateY(1px);
}

.btn-search-food:focus {
    outline: none;
}


.spanFoodInvisible {
    display: none;
}

.spanFoodVisible {
    display: block;
    position: absolute;
    cursor: pointer;
    background-blend-mode: color;
    background-color: #E6E2DD;
    color:#373A36;
    opacity: 0.75;
    font-size: 30px;
    text-align: right;
    top: 70%;
    right: 1px;
    width: 15%;
    height: 15%;
    transition-duration: 0.2s;
}

.spanFoodVisible:hover {
    opacity: 0.6;
    transition: all .2s ease-in-out;
}

.spanFoodVisible:active {
    opacity: 1;
    transition-duration: 0.01s;
    transition: all .01s ease-in-out;
    transform: translateX(1px);
}
.spanFoodVisible:focus {
    outline: none;
}

#todayBtn {
    width: 15%;
    height: 5vh;
}

#removeMealCard {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    box-shadow: none;
    border: none;
}

.btn-outline-secondary {
    background-color: inherit;
    color: #373A36;
    border-color: #373A36;
    box-shadow: var(--box-shadow);
}

.cardContainerButtons {
    display: flex;
    min-width: inherit;
}


.cardContainer {
    display: flex;
    height: 40vh;
    align-items: flex-start;
    max-width: 1250px;
}


.card {
    background-color: #E6E2DD;
    color: #373A36;
    display: flex;
    opacity: 1;
    min-width: 250px;
    max-width: 250px;
    min-height: 40vh;
    box-shadow: var(--box-shadow);
    flex-wrap: wrap;
    transition: all .2s ease-in-out;
    z-index: 3;
}

.card2 {
    background-color: #E6E2DD;
    color: #373A36;
    display: flex;
    opacity: 0.9;
    min-width: 250px;
    min-height: 40vh;
    box-shadow: var(--box-shadow);
    flex-wrap: wrap;
    z-index: 3;
    transition: all .2s ease-in-out;
}


.card2:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
    z-index: 4;
}

.clickedAndCentered {
    position: relative;
    top: center;
    left: center;
    transform: scale(1.5);
    z-index: 6;
}


.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card-body p {
    width: 100%;
    color: crimson;
    flex: 0 50%;
}

.card-body-add-position {
    z-index: 3;
}

.formIndex {
    background-color: #E6E2DD;
    min-width: 250px;
    max-width: 250px;
    min-height: 40vh;
    box-shadow: var(--box-shadow);
    flex-wrap: wrap;
    z-index: 3;
}

.formIndexVisible {
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    transition: all .2s ease-in-out;
    transition-duration: 0.8s;
    transform: translateX(250px);
}

.formIndexVisible:hover {
    opacity: 1;
    outline: none;
}

.formIndexInvisible {
    position: absolute;
    z-index: -1;
    display: none;
}

.remove-meal {
    position: fixed;
    align-self: flex-start;
    background-color: inherit;
}
.card-body #add-meal-button {
    position: fixed;
    align-self: flex-end;
}

.calories-stats {
    padding-top: 10vh;
    min-width: 60%;
    display: flex;
}

.weekly-consumed-stats {
    text-align: left;
    color: #E6E2DD;
    flex: 1;
}

.monthly-prediction-stats {
    text-align: left;
    color: #E6E2DD;
    flex: 1;
}

#addFoodFormBtn {
    margin-top: 2vh;
    font-size: 1rem;
}

.dropdownChoice {
    min-width: 15rem;
    max-width: 240px;
    z-index: 3;
}
.dropdownChoice:focus {
    outline: none;
}

#ingredientQuantity {
    max-width: 9rem;
}
