{% block content %}

  <form class="card2" action="{% url 'user:create' %}" method="POST" name="myForm">
    <label>
      <p class="label-txt">ENTER YOUR EMAIL</p>
      <input type="text" class="datepickerInput" name="email" autocomplete="email" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="password" class="datepickerInput" autocomplete="current-password" name="password" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <button class="btn-secondary" type="submit">register</button>

  </form>

  {% endblock %}