

<div id="mealCard" class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">
        <h4 class="meal-number">Meal 1</h4>
        <h5 class="card-title">Breakfast</h5>
    </div>
    <div class="card-body cardFlexContainer">
        <p class="card-text-name">Egg</p>
        <p class="card-text-calories">55kcal</p>
        <button class="btn-outline-danger btn-sm remove-meal"
        id="removeMealCard">X</button>
    </div>
    <div class="card-body-add-position">
        <button class="btn-success btn-sm" id="add-meal-button">Add a meal</button>
    </div>
</div>
